#div_main{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 60vh; 
    flex-direction: column;
}

#form_login{
    display: flex;
    flex-direction: column; 
    width: 300px; 
    gap: 15px; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: #f9f9f9;
}

#form_login input{
    border-radius: 10px;
    height: 40px;
}

input::placeholder {
    padding-left: 15px;
}

#botao_entrar{
    text-align: center; 
    margin-top: 20px;
    padding: 10px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    text-decoration: none; 
    display: inline-block;
}

#botao_entrar:hover{
    background-color: #166218; 
}

/* Barra de navegação */
#selecionado{
    background: #6BB7CB66;
}